<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SENDTO" />

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/albeicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ALBEApp"
        tools:targetApi="31">
        <activity
            android:name=".sensor.SensorActvitiy"
            android:exported="false" />
        <activity
            android:name=".logins.FindMyId"
            android:exported="false" />
        <activity
            android:name=".logins.UserSignUp"
            android:exported="true" />
        <activity
            android:name=".HomeMenu.HomeMenu"
            android:exported="true" />
        <activity
            android:name=".photos.PhotoActivity"
            android:exported="false" />
        <!--        첫 화면을 login 화면으로 설정해야해서 중복 지움-->
        <!--        <activity-->
        <!--            android:name=".logins.LoginPageActivity"-->
        <!--            android:exported="true" />-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".photos.AddPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="true" />
        <!--        첫 화면을 login 화면으로 설정-->
        <activity
            android:name=".logins.LoginPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>